body {
    text-align: center;
    background: #FFFFFF;
background: -moz-radial-gradient(center, #FFFFFF 0%, #5400FF 50%, #000000 100%);
background: -webkit-radial-gradient(center, #FFFFFF 0%, #5400FF 50%, #000000 100%);
background: radial-gradient(ellipse at center, #FFFFFF 0%, #5400FF 50%, #000000 100%);
}

h1 {
    color: #FFF;
background-color: #232323;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18
}
h2 {
    color: #FFF;
background-color: #232323;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18
}
span{
    color: #FFF;
background-color: #232323;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18
}

